{
    -fx-primary : #637ba2;
    -fx-secondary : #fbf9ff;

    -fx-primarytext : #ffffff;
    -fx-secondarytext : #f3f3f3;

    -fx-primarybackground: #444444;

    -fx-alerttext: #ff064e;
    -fx-blue: #131637;
}

.glyph-icon
{
    -fx-fill: -fx-primarytext;
}

#rootPane {
  -fx-background-color: -fx-primarybackground;
}

.text-field
{
    -fx-font-size : 12pt;
    -fx-prompt-text-fill: -fx-secondarytext;
    -fx-text-fill: -fx-primarytext;
    -jfx-focus-color: -fx-secondarytext;
}

.wrong-credentials {
    -fx-text-fill: -fx-alerttext;
}

@font-face {
  font-family: Roboto-Thin;
  src: url('/common/font/Roboto-Thin.ttf');
}

.whiteLabel {
  -fx-text-fill: rgb(251, 249, 255);
    -fx-font-family: 'Roboto-Medium';
  -fx-font-weight: bold;
}

.button{
    -fx-text-fill: -fx-primarytext;
    -fx-font-weight: bold;
    -fx-background-color: -fx-primary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 12pt;
}

.button:hover, .button:focused{
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}


.list-view {
    -fx-padding: 4px ;
    -fx-background-color: -fx-primarybackground ;
}

.list-cell {
    -fx-padding: 10px ;
    -fx-background-color: transparent, -fx-background ;
    -fx-background-insets: 0px, 2px ;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: -fx-primary;
    -fx-text-fill: -fx-primarytext;
}

.list-cell:filled:hover {
    -fx-background-color: -fx-primary;
    -fx-text-fill: -fx-primarytext;
}

